
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-settings js-menu-toggle"></span>
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div> <!-- .site-mobile-menu -->
  
      
      
      <div class="site-navbar-wrap js-site-navbar bg-white">
        
          <div class="container">
            <div class="site-navbar bg-light">
              <div class="py-1">
                <div class="row align-items-center">
                  <div class="col-9 col-sm-10 col-md-11 nav-left">
                    <div class="d-inline-block  ml-md-0 mr-auto py-3"><a href="#"
                      class="site-menu-toggle js-menu-toggle"><span class="icon-arrow_back h3" id="nav-back"></span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>