
  <div class="py-5 quick-contact-info main">
    <div class="container">
      <div class="row">
        
        <a id="logo-a" class="text-center">TRIPY</a>
        <div class="copyright text-center"><a id="copyright-text" class="text-center">한국산업기술대학교 게임공학과 2021년 종합설계 기획</a></div>
        <div class="copyright text-center"><a id="copyright-text" class="text-center">지도교수님 정내훈 교수님 nhjung@kpu.ac.kr 010-8964-9524</a></div>
        <div class="copyright text-center"><a id="copyright-text" class="text-center">팀원 2016184005 김의진 rabbit234@naver.com 010-2923-2754</a></div>
        <div class="copyright text-center"><a id="copyright-text" class="text-center">팀원 2017184014 박재홍 justin705@naver.com 010-8835-2987
        </a></div>

        <div class="col-xs-4 col-md-4 text-center" id="footer-icon">

        </div>
      </div>

    </div>

  </div>