<li>
    </li>
    <li id="navMenu1First"><a id ="navMenu1" href="/login">로그인</a></li>
    <li><a id ="navMenu1" href="https://drive.google.com/file/d/1XmegBNTGtrom6lScAJhO2ZmT3GWsSWa4/view?usp=sharing">서비스 소개</a></li>
    <li id="navMenu2First"><a id ="navMenu2" href="/">공지사항</a></li>
    <li><a id ="navMenu2" href="/test">사진테스트</a></li>
    <li><a id ="navMenu2" href="/test/photolist">사진리스트</a></li>
    <li><a id ="navMenu2" href="/pharser/phaser4thWeek">여행지 꾸미기 테스트</a></li>
<li><a id ="navMenu2" href="">문의하기</a></li>