<li>
    <div class="row">
        <div id="navprofileDiv" class= "col-4">
        <img class="rounded-circle" id="profileImageNav">
        </div>
        <div id="navProfileDiv" class="col-8">
          <div id="navProfileLine">
            <span id="navProfileName"></span>
          </div>
          <div id="navProfileLine2">
           <span id="navProfileLevel">LV. 8</span><div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><div>
                </div>
          </div>
            </div>
            </div>
        </div>
    </div>
    </li>
    <li class="nav_meet_li"><a id ="navMenu1">모임 서비스</a></li>
    <li class ="hideMenu"><a class ="hideMenu" href="/myplan"> - 내 여행지</a></li> 
    <li class ="hideMenu"><a class ="hideMenu" href="/board/partyboard"> - 모임 찾기</a></li><li class ="hideMenu3">
    <li class ="hideMenu"><a class ="hideMenu" href="/mypost"> - 게시글 관리</a></li>  
    <li class ="hideMenu"><a class ="hideMenu" href="/writepost"> - 모임글 작성 테스트</a></li>   
    <li class="nav_dialry_li"><a id ="navMenu1">여행 일지</a></li>
    <li class ="hideMenu2"><a class ="hideMenu2" href="/myhistory"> - 여행 업적</a></li> 
    <li class ="hideMenu2"><a class ="hideMenu2" href="/pharser/phaser4thWeek"> - 여행지 꾸미기</a></li>
    <li class="nav_profile_li"><a id ="navMenu1">내 정보</a></li>
    <li class ="hideMenu3"><a class ="hideMenu3" href="/users/profile"> - 프로필</a></li> 
    <li class ="hideMenu3"><a class ="hideMenu3" href="/users/profile/otherinformation"> - 프로필 수정</a></li> 
    <li class ="hideMenu3"><a class ="hideMenu3" href="/login/password"> - 비밀번호 변경</a></li> 
    <li id="navMenu3First"><a id ="navMenuLogout" href="/login/logout">로그아웃</a></li>
    <li id="navMenu2First"><a id ="navMenu2" href="/notice">공지사항</a></li>
    <li><a id ="navMenu2" href="/tourlist">관광지 테스트</a></li>
    <li><a id ="navMenu2" href="/test">사진테스트</a></li>
    <li><a id ="navMenu2" href="/test/photolist">사진리스트</a></li>
    <li><a id ="navMenu2" href="/pharser/phaser4thWeek">여행지 꾸미기 테스트</a></li>
    <li><a id ="navMenu2" href="/achievements/view?no=1">학교 업적 테스트</a></li>
<li><a id ="navMenu2" href="./spaceChallenge.do">문의하기</a></li>