<!DOCTYPE html>
<html>

<head>
    <title>Festival_In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no user-scalable=0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">

    <link rel="stylesheet" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">

    <link rel="stylesheet" href="/css/views/tourdetail.css">
    <link rel="stylesheet" href="/css/views/style.css">
    <link rel="stylesheet" href="/css/views/main.css">
    <link rel="stylesheet" href="/css/views/noncover.css">
    <link rel="stylesheet" href="/css/views/writepost.css">
    <link rel="stylesheet" href="/css/views/search.css">
    <link rel="stylesheet" href="/css/views/calendar.css">
    <link rel="stylesheet" href="/css/views/mytour.css">
    <link rel="stylesheet" href="/css/views/myplan.css">
    <link rel="stylesheet" href="/css/views/read.css">
    <link rel="stylesheet" href="/css/views/maps.css">


</head>
<body>
<div class="site-wrap">
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <div class="site-navbar-wrap js-site-navbar bg-white">

        <div class="container">
            <div class="site-navbar bg-light">
                <div class="py-1">
                    <div class="row align-items-center" id="site-navbar-line">
                        <div class="col-10">
                            <h2 class="mb-0 site-logo"></h2><a id="nav-title"></a></h2>
                        </div>
                        <div class="col-2">
                            <nav class="site-navigation text-right" role="navigation">
                                <div class="container">
                                    <!-- d-lg-none -->
                                    <div class="d-inline-block  ml-md-0 mr-auto py-3"><a href="#"
                                                                                         class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
                                    <!-- d-lg-block -->
                                    <ul class="site-menu js-clone-nav d-none" id="nav">
                                        <% include ../nav/nav_case %>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap-loading display-none">
    <div class="spinner-border text-primary display-none"></div>
</div>

<div class="site-section bg-light">
    <div class="container">

        <form class="p-5 bg-white">
            <div class="row">

                <div class="form-group-view">

                    <div class="p-4 mb-3 bg-white">

                        <div class="form-img">
                            <div class="row">
                                <div class="form-img">
                                    <div class="img-f"><img id="AJ_img"></div>
                                    <div id="img-name"></div>
                                </div>

                            </div>


                            <div class="row ico">
                                <div class= "col-md-12 col-sm-12 col-xs-12 text-center">
                                    <a id="reservation-button" class="btn btn-primary px-4 py-2">관광지 위치 보기</a>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                    <div class="ico-m">
                                        <span class="icon-map text-white h2 d-block"></span>
                                        <h3 class="table-h3">ADDRESS</h3>
                                        <a id="address" class="ico-a"></a>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                    <div class="ico-m" onclick = "openTransport()">
                                        <span class="icon-pin_drop text-white h2 d-block"></span>
                                        <h3 class="table-h3">TRANSPORT</h3>
                                        <a id="location" class="ico-a"></a>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                    <div class="ico-m" onclick = "openLink()">
                                        <span class="icon-money text-white h2 d-block"></span>
                                        <h3 class="table-h3">PRICE</h3>
                                        <a id="homepage" class="ico-a"></a>
                                    </div>
                                </div>

                            </div>

                            <div class="form-content">

                                <div class="text-center form-info">
                                    <h5 class="mb-5 text-uppercase" id="content-info"><a class="first-a">상</a><a
                                            class="second-a">세정보</a>
                                        <hr class="line-event">
                                    </h5>
                                </div>

                                <div id="content"></div>


                                <div class="text-center form-info">
                                    <h5 class="mb-5 text-uppercase" id="content-info"><a class="first-a">이</a><a class="second-a">미지</a>
                                        <hr class="line-event">
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <!--  이미지 -->

                        <div class="site-section block-15">
                            <div class="container">
                                <div id="myCar" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators" id="carousel-li">
                                        <li data-targert="#myCar" data-slide-to="0" class="active"></li>
                                    </ol>

                                    <div class="carousel-inner" id="carousel-in">
                                        <div class="carousel-item active">
                                            <img id="carousel-main-img" class="d-block w-100" alt="First">
                                            <div class="carousel-caption">
                                            </div>
                                        </div>

                                    </div>

                                    <a class="carousel-control-prev" href="#myCar" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#myCar" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

                <div class="submit_div">
                    <div>
                        <a id="board-button" class="btn btn-primary px-4 py-2" href="/tourlist/">목록</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="modal fade" id="transportModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">교통편 안내</h5>
                <button type="button" class="close" id="close_popup2" data-dimiss="modal" aria-label="Close"
                        onclick="close_modal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <h3 class="modal-h3" id="address-h3" >주소</h3>
                    <p class="mb-0 font-weight-bold" id="address-modal"></p>
                    <h3 class="modal-h3" id="bus-h3"  >버스</h3>
                    <p class="mb-0 font-weight-bold" id="bus-modal"></p>
                    <h3 class="modal-h3" id="subway-h3"  >지하철</h3>
                    <p class="mb-0 font-weight-bold" id="subway-modal"></p>
                    <h3 class="modal-h3" id="shuttle-h3"  >셔틀버스</h3>
                    <p class="mb-0 font-weight-bold" id="shuttle-modal"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="cate-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle2">행사장 지도</h5>
                <button type="button" class="close" id="close_popup3" data-dimiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row form-group" id="google-modal-form">
                <div class="form-group" id="modal-info">
                </div>
                <div>
                    <h3 id="location_div"></h3></div>
                <div>
                    <h3 id="local_div"></h3></div>
                <div id="map_canvas"></div>
            </div>
        </div>
    </div>
</div>


</body>

<% include ../script/default %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr-r448ruHCKvwugrHq9nH2-SXqkj4u9M&libraries=places"async defer></script>


<script type="text/javascript">

var loginStatus = "<%=loginStatus%>";
var userId = "<%=userId%>";

if (loginStatus == "true") {

$("#navProfileName").text("<%=username%>");
$("#profileImageNav").attr("src", "<%=userImg%>");
} else {
}
    var no = "";
    var content ="";
    var img_val1 = null;
    var img_val2 = null;
    var img_val3 = null;
    var img_val4 = null;
    var img_val5 = null;
    var img_main = null;
    var img_thumnail = null;
    var startDate;
    var endDate;
    var nowDate;
    var writer;
    var today = new Date();
    var reservation;
    var title;
    var id_session;
    var href_link = null;
    var latX = null;
    var longY = null;

    var scrapState = 0;

    var startD = "";
    var endD = "";

    var addressSum = "";

    $(document)
        .ready(
            function() {
                no = location.href
                    .substr(location.href.lastIndexOf('=') + 1);

                $
                    .ajax({
                        url : "/tourlist/getdetail",
                        data : {no:no},
                        dataType : "json",
                        type : "get",
                        success : function(data) {
                            var add = null;

                            $
                                .each(
                                    data.response.body.items,
                                    function(index,item) {
                                        document
                                            .getElementById("nav-title").innerHTML = item.title;
                                        title = item.title;
                                        document
                                            .getElementById("address").innerHTML = item.addr1;
                                        document
                                            .getElementById("location_div").innerHTML = item.addr1;

                                        add = item.addr1;
                                        addressSum = item.addr1;

                                       
                                        document
                                            .getElementById("AJ_img").src = item.firstimage;

                                        img_main = item.firstimage;
                                        $("#content").text(item.overview);
                                        document
                                            .getElementById("carousel-main-img").src = item.firstimage;
                                        latX = parseFloat(item.mapy);
                                        longY = parseFloat(item.mapx);

                                    });

                            $("#address").click(function(){
                                var dummy = document.createElement("textarea");
                                document.body.appendChild(dummy);
                                dummy.value = add;
                                dummy.select();
                                document.execCommand('Copy');
                                document.body.removeChild(dummy);
                                alert('주소가 복사되었습니다.');
                            });
                            $("#reservation-button").click(function() {
                                $('#myModal3').modal('show');
                            });

                            $("#close_popup3").click(function() {

                                $('#myModal3').modal('hide');
                            });
                            $("#close_popup").click(function() {
                                $('#festival').modal('hide');
                            });
                            $("#myModal3").on("shown.bs.modal", function() {

                                var myLatLng = {lat: latX, lng: longY};

                                if(latX == null || longY == null || latX == "" || longY == ""){

                                }else{
                                    var map_options = {
                                        center:{lat: latX, lng: longY},
                                        zoom: 17,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP
                                    };
                                    var map = new google.maps.Map(document.getElementById("map_canvas"), map_options);

                                    var defaultBounds = new google.maps.LatLngBounds(
                                        new google.maps.LatLng(myLatLng.lat),
                                        new google.maps.LatLng(myLatLng.lng)
                                    );

                                    var marker = new google.maps.Marker({
                                        position: myLatLng,
                                        map: map,
                                        title: 'Hello World!'
                                    });

                                }

                            });

                            $("#myModal3").on("hidden.bs.modal", function() {$("#googleMap").empty();});


                        },
                        beforeSend : function() {
                            $('.spinner-border').removeClass(
                                'display-none');
                            $('.wrap-loading').removeClass(
                                'display-none');
                        },
                        complete : function() {

                            $('.spinner-border').addClass(
                                'display-none');
                            $('.wrap-loading').addClass('display-none');
                        }
                    });

                $
                    .ajax({
                        url : "/tourlist/getdetailimg",
                        data : {no:no},
                        dataType : "json",
                        type : "get",
                        success : function(data) {
                            $
                                .each(
                                    data.response.body.items.item,
                                    function(index,item) {
                                        if(img_val1 == null || img_val1 ==""){
                                            img_val1 = item.originimgurl;
                                        }else if(img_val2 == null || img_val2 ==""){
                                            img_val2 = item.originimgurl;
                                        }else if(img_val3 == null || img_val3 ==""){
                                            img_val3 = item.originimgurl;
                                        }else if(img_val4 == null || img_val4 ==""){
                                            img_val4 = item.originimgurl;
                                        }else if(img_val5 == null || img_val5 ==""){
                                            img_val5 = item.originimgurl;
                                        }

                                    });

                            if (img_val1 == "" || img_val1 == null) {
                            } else {
                                $("#carousel-li")
                                    .append(
                                        "<li data-targert=\"#myCar\" data-slide-to=\"1\" ></li>");
                                $("#carousel-in")
                                    .append(
                                        "<div class=\"carousel-item\">"
                                        + "<img class=\"d-block w-100\" src=\""
                                        + img_val1
                                        + "\" alt=\"Second\"></div>");
                            }
                            if (img_val2 == "" || img_val2 == null) {
                            } else {
                                $("#carousel-li")
                                    .append(
                                        "<li data-targert=\"#myCar\" data-slide-to=\"2\" ></li>");
                                $("#carousel-in")
                                    .append(
                                        "<div class=\"carousel-item\">"
                                        + "<img class=\"d-block w-100\" src=\""
                                        + img_val2
                                        + "\" alt=\"Second\"></div>");
                            }
                            if (img_val3 == "" || img_val3 == null) {
                            } else {
                                $("#carousel-li")
                                    .append(
                                        "<li data-targert=\"#myCar\" data-slide-to=\"3\" ></li>");
                                $("#carousel-in")
                                    .append(
                                        "<div class=\"carousel-item\">"
                                        + "<img class=\"d-block w-100\" src=\""
                                        + img_val3
                                        + "\" alt=\"Second\"></div>");
                            }
                            if (img_val4 == "" || img_val4 == null) {
                            } else {
                                $("#carousel-li")
                                    .append(
                                        "<li data-targert=\"#myCar\" data-slide-to=\"4\" ></li>");
                                $("#carousel-in")
                                    .append(
                                        "<div class=\"carousel-item\">"
                                        + "<img class=\"d-block w-100\" src=\""
                                        + img_val4
                                        + "\" alt=\"Second\"></div>");
                            }
                            if (img_val5 == "" || img_val5 == null) {
                            } else {
                                $("#carousel-li")
                                    .append(
                                        "<li data-targert=\"#myCar\" data-slide-to=\"5\" ></li>");
                                $("#carousel-in")
                                    .append(
                                        "<div class=\"carousel-item\">"
                                        + "<img class=\"d-block w-100\" src=\""
                                        + img_val5
                                        + "\" alt=\"Second\"></div>");
                            }

                        },beforeSend : function() {
                            $('.spinner-border').removeClass(
                                'display-none');
                            $('.wrap-loading').removeClass(
                                'display-none');
                        },
                        complete : function() {

                            $('.spinner-border').addClass(
                                'display-none');
                            $('.wrap-loading').addClass('display-none');
                        }
                    });



                $("#close_popup").click(function() {
                    $('#myModal').modal('hide');
                    $('#transportModal').modal('hide');
                });
                $("#close_popup2").click(function() {
                    $('#transportModal').modal('hide');
                });

            });

    function openTransport() {
        $('#transportModal').modal('show');
    }



    function openLink() {
        if(href_link != null){
            location.href = href_link;
        }
    }
    // maxLengthCheck
    function maxLengthCheck(object){
        if (object.value.length > object.maxLength){
            object.value = object.value.slice(0, object.maxLength);
        }
    }


</script>
</html>