<!DOCTYPE html>
<html>

<head>
  <title>TRIPY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no user-scalable=0">

  <% include ../css/default %>
    <link rel="stylesheet" href="/css/views/read.css">
    <link rel="stylesheet" href="/css/views/login.css">
</head>

<body>

  <div class="site-wrap">

    <% include ../head/cover_back %>

      <div class="site-blocks-cover overlay" id="title_img"
        style="background-image: url(/image/hochimin.jpg);background-position: 50%;" data-aos="fade"
        data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 text-center" data-aos="fade">
              <h1 class="mb-4">
                <%=title%>
              </h1>

              <div class="col-12">
                <input type="text" id="id_filed" class="col-12 col-sm-9 col-md-6 col-lg-4 form-control"
                  placeholder="아이디">
              </div>
              <div class="col-12">
                <input type="password" id="password_filed" class="col-12 col-sm-9 col-md-6 col-lg-4 form-control"
                  placeholder="비밀번호">
              </div>
              <a id="login-button" class="col-12 col-sm-9 col-md-6 col-lg-4  btn btn-primary px-4 py-2">로그인</a>

              <div class="col-12">
                <a class="col-12 col-sm-6 col-md-6 col-lg-6 a_white" href="/login/register">회원가입</a>
                <a class="col-12 col-sm-6 col-md-6 col-lg-6 a_white">비밀번호 찾기</a>
              </div>
              <div class="col-12 social-login"><img class="col-12 col-sm-6 col-md-6 col-lg-6"
                  src="/image/login/kakao_account_login_btn_medium_narrow.png" id="kakaoBtn">
                <img class="col-12 col-sm-6 col-md-6 col-lg-6" src="/image/login/naver_account_login_btn.png"
                  id="naverBtn">
              </div>

            </div>

          </div>
        </div>
      </div>

</body>

<% include ../script/default %>

  <script type="text/javascript">
    $(document).ready(function () {

      var loginStatus = "<%=loginStatus %>";

      if (loginStatus == "true") {
        location.replace("/");
      }

      $("#kakaoBtn").click(function () {
        location.replace("/login/kakao");
      })
      $("#naverBtn").click(function () {
        location.replace("/login/naver");
      })


      $("#login-button").click(function () {

        var id = $("#id_filed").val();
        var password = $("#password_filed").val();

        if (id == "") {
          alert("아이디가 비어있습니다.");
          $("#id_filed").focus();
          return false;
        }
        if (password == "") {
          alert("비밀번호가 비어있습니다.");
          $("#password_filed").focus();

          return false;
        }

        var allData = {
          "id": id,
          "password": password
        };

        $.ajax({
          url: "/login/local-login",
          data: allData,
          dataType: "json",
          async: false,
          type: "post",
          success: function (data) {
            if (data['result'] == -1) {
              alert(data['info']['message']);
            }/* else if (data['result'] == 0) {
              alert("개인정보를 입력해주세요");
              location.href = "/users/profile/otherinformation";
            }*/
            else location.href = "/";
          },
          complete: function (data) {

          },
          beforeSend: function () {
          }
        });
      });



    });
  </script>



</html>