<!DOCTYPE html>
<html>

<head>
    <title>비밀번호 변경</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no user-scalable=0">

  <link rel="icon"  href="/image/favicon.ico">
  <link rel="shortcut icon"  href="/image/favicon.ico">
 
    
  <% include ../css/default %>
  <link rel="stylesheet" href="/css/views/read.css">
    <link rel="stylesheet" href="/css/views/login.css">
</head>

<body>
    <% include ../head/cover_back %>

    <div class="site-blocks-cover overlay" id="title_img"
        style="background-image: url(/image/hochimin.jpg);background-position: 50%;" data-aos="fade"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10 text-center" data-aos="fade">
                    <h1 class="mb-4">PASSWORD CHANGE</h1>

                    <label class="font-weight-bold" for="password">신규비밀번호</label>
                    <input type="password" id="change_password_filed" class="form-control" placeholder="Password">
                    <label class="font-weight-bold" for="password">신규 비밀번호 확인</label>
                    <input type="password" id="change_password_filed2" class="form-control" placeholder="Password">

                    <a id="login-button" class="btn btn-primary px-4 py-2">비밀번호 변경</a>

                </div>
            </div>
        </div>
    </div>

    <div class="wrap-loading display-none">
        <div class="spinner-border text-primary display-none"></div>
    </div>


</body>

<% include ../script/default %>

<script type="text/javascript">
    $(document).ready(function () {

        var loginStatus = "<%=loginStatus%>";
        var id = "<%=userId%>";
        
    
        if (loginStatus == "false") {
            location.replace("/login");
        }

        $("#login-button").click(function () {

            var change_password = $("#change_password_filed").val();
            var change_password2 = $("#change_password_filed2").val();
            var num = change_password.search(/[0-9]/g);
            var eng = change_password.search(/[a-z]/ig);
            var spe = change_password.search(/[`~!@@#$%^&*|\\\`\;:\/?]/gi);


            if (change_password == "") {
                alert("신규 비밀번호가 비어있습니다.")
                $("#change_password_filed").focus();

                return false;
            } else if (change_password2 == "") {
                alert("신규 비밀번호가 비어있습니다.")
                $("#change_password_filed2").focus();

                return false;
            } else if (change_password != change_password2) {
                alert("변경할 비밀번호가 맞지않습니다.")
                $("#change_password_filed").focus();
                return false;
            }
            else if (change_password.length < 8
                || change_password.length > 14) {
                alert(change_password.length);
                alert("비밀번호는 9자 이상 13자 이내로 입력해주십시요.");
                return false;
            } else if (num < 0 || eng < 0 || spe < 0) {
                alert("비밀번호는 영문,숫자,특수문자를 혼합하여 주시기 바랍니다.");
                return false;
            } else if (change_password ==id) {
                alert("비밀번호에 아이디를 사용할수 없습니다.");
                return false;
            } else {

                var SamePass_0 = 0;
                var SamePass_1 = 0;
                var SamePass_2 = 0;

                var char_pass_0;
                var char_pass_1;
                var char_pass_2;

                for (var i = 0; i < change_password.length; i++) {
                    char_pass_0 = change_password.charAt(i);
                    char_pass_1 = change_password.charAt(i + 1);

                    if (char_pass_0 == char_pass_1) {
                        SamePass_0 = SamePass_0 + 1;
                    }
                    char_pass_2 = change_password.charAt(i + 2);

                    if (char_pass_0.charCodeAt(0) - char_pass_1.charCodeAt(0) == 1
                        && char_pass_1.charCodeAt(0) - char_pass_2.charCodeAt(0) == 1) {
                        SamePass_1 = SamePass_1 + 1;
                    }

                    if (char_pass_0.charCodeAt(0) - char_pass_1.charCodeAt(0) == -1
                        && char_pass_1.charCodeAt(0) - char_pass_2.charCodeAt(0) == -1) {
                        SamePass_2 = SamePass_2 + 1;
                    }
                }

                if (SamePass_0 > 1) {
                    alert("동일 문자를 3번이상 사용 할 수 없습니다.");
                    location.reload();
                    return false;
                }
                if (SamePass_1 > 1 || SamePass_2 > 1) {
                    alert("연속된 문자열을 3번이상 사용 할 수 없습니다.");
                    location.reload();
                    return false;
                }

            }



                var allData = {
                    "id": id,
                    "password": change_password
                };
                $.ajax({
                    url: "/login/passwordchange",
                    data: allData,
                    dataType: "json",
                    async: false,
                    type: "post",
                    success: function (data) {
                        if (data['result'] == false) {
                            alert("비밀번호 변경에 실패하였습니다.");
                        } else if (data['result'] == true) {
                            alert("비밀번호가 변경되었습니다. 다시 로그인 해주세요.");
                            location.href = "/login/logout";
                        }
                        else location.href = "/";
                    },
                    complete: function (data) {

                    },
                    beforeSend: function () {
                    }
                });
            });



    });
</script>



</html>