<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
 
    <title>Snake</title>
 
    <script src="/js/jquery.min.js"></script>
    <script src="/phaser/js/phaser.min.js"></script>
    <script src="/phaser/plugin/SpinePlugin.min.js"></script>
    <script src="/phaser/js/spinetest.js"></script>
 <!-- <script src="/phaser/js/menu.js"></script>
    <script src="/phaser/js/game.js"></script>
    <script src="/phaser/js/game_over.js"></script>
    <script src="/phaser/js/main.js"></script>
 -->
</head>
<body>
 
</body>
</html>
